[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tastypie = "*"
defusedxml = "*"
lxml = "*"
django = "*"
django-shell-plus = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
